
SecretsGame/Content/SpaceShipMap.umap
SecretsGame/Binaries/Mac/SecretsGame-Mac-Shipping
SecretsGame/Binaries/Mac/SecretsGame-Mac-Shipping.app/Contents/MacOS/SecretsGame-Mac-Shipping
SecretsGame/Binaries/Mac/SecretsGame-Mac-Shipping.app/Contents/UE/SecretsGame/Content/global_sf_metal_sm5-metal_sm5.0.metallib
SecretsGame/Binaries/Mac/SecretsGame-Mac-Shipping.app/Contents/UE/SecretsGame/Content/Paks/SecretsGame-Mac.ucas
SecretsGame/Binaries/Mac/SecretsGame-Mac-Shipping.app/Contents/UE/SecretsGame/Content/secretsgame_sf_metal_sm5-metal_sm5.0.metallib
SecretsGame/Binaries/Mac/SecretsGame-Mac-Shipping.app/Contents/UE/SecretsGame/Content/Paks/SecretsGame-Mac.utoc
SecretsGame/Saved/Cooked/Mac/SecretsGame/Content/global_sf_metal_sm5-metal_sm5.metalmap
SecretsGame/Saved/StagedBuilds/Mac/SecretsGame-Mac-Shipping.app/Contents/UE/SecretsGame/Content/Paks/SecretsGame-Mac.ucas
SecretsGame/Saved/StagedBuilds/Mac/SecretsGame/Content/Paks/SecretsGame-Mac.ucas
SecretsGame/Saved/StagedBuilds/Mac/SecretsGame-Mac-Shipping.app/Contents/MacOS/SecretsGame-Mac-Shipping
SecretsGame/Saved/Cooked/Mac/SecretsGame/Metadata/ShaderDebug/global_sf_metal_sm5-metal_sm5.zip
